{% load staticfiles%}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Cars - online cars">
        <meta name="author" content="Alexandra Naumova">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <title>Прокат автомобилей(admin)</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-my" role="navigation">
  <div class="container-fluid">
    <!—Название сайта и кнопка раскрытия меню для мобильных-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!—Само меню-->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/"> На главную</a></li>
        <li class="active"><a href="/myadmin/"> Список автомобилей</a></li>
        <li class="active"><a href="//"> Список заказов</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
{% if acounts %}
  <h2>Зарегистрированные пользователи</h2>          
  <table class="table table-hover">
    <tbody>
      {% for acount in acounts %}
      {% if not acount.is_superuser %} 
      <tr>
          <div  align="center" class="row">
              <td>
                  <div align="left" class="col-sm-7">{{acount.username}}</div>
                  <div class="col-sm-5">
                      <h2>E-mail: {{acount.email}}</h2>
                      <h3>Пароль: {{acount.password}}</h3>
                  </div>
              </td>
          </div>
      </tr>
      {% else %}
      {% endif %}
      {% endfor %}
      </tbody>
  </table>
{% else %}
<h2>Пока нет зарегестрированных пользователей</h2>
{% endif %}
</div>
<script type="text/javascript" scr="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>